{% extends 'base.html' %}

{% block title %} Blog de Noticias {% endblock %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-4">
        <div class="card">
            <div class="card-content">
                <h3 class="title is-4">Ver Noticias</h3>
                <p>ver,agregar,editar,eliminar</p>
                <br>
                <a href="{{ url_for('posts.listar_posts')}}" class="button is-primary">Haz clic aquí</a>
            </div>
        </div>
    </div>
    
    <div class="column is-4">
        <div class="card">
            <div class="card-content">
                <h3 class="title is-4">Administrar categorías</h3>
                <p>da click aqui para administrar categorias</p>
                <br>
                <a href="{{ url_for('categories.listar_categorias')}}" class="button is-primary">Haz clic aquí</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
